@font-face {
  font-family: "RetroFloral";
  src: url("/fonts/RetroFloral.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --font-retro: "RetroFloral", sans-serif;
  }
}

@layer utilities {
  .font-retro {
    font-family: var(--font-retro);
  }
}
